*.o
*.xml
*.ghw
*.log
*.gtkw
*.do
*.pyc
transcript
build/
sim_build/
__pycache__/
.pytest_cache/
envelope
envelope_calculate_fsm
envelope_main_fsm
fifo
runningaveragemodule
.npmrc
node_modules
package-lock.json
!LICENSE.txt
vivado_prj